<h1>Stupid Coaching</h1>

<div class="container">
  <p>  <%=params[:question] %></p>
  <p> <i>- You</i> </p>
</div>

<div class="container">
  <p> <%= @answer %> </p>
  <p> <i>- Your Coach</i> </p>
</div>

<p> <%= link_to 'Ask a new question', '/ask' %> </p>
